body {
    //background-color: #302b32 !important;
    overflow:hidden;
    margin: 0px;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000000;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    height: 100vh;
}

.button-icon {
    width: 30px;
    height: 30px;

    &.inverted {
        transform: scaleY(-1.0);
    }

    &.hoverable {
        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }
}

.pop-slide-enter-active {
    transition: all .3s;
}
.pop-slide-leave-active {
    transition: all .1s;
}
.pop-slide-enter, .pop-slide-leave-to {
    transform: translatey(-30px);
}

.slide-enter-active {
    animation: slide-in .2s;
  }
.slide-leave-active {
    animation: slide-in .2s reverse;
  }
@keyframes slide-in {
    0% {
      transform: scaleX(0);
    }
    50% {
      transform: scaleX(0.5);
    }
    100% {
      transform: scaleX(1);
    }
  }