body {
    //background-color: #302b32 !important;
    overflow:hidden;
    margin: 0px;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000000;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    height: 100vh;
}